- content_for :page_title do
  = t('.title')

= simple_form_for @custom_emoji, url: admin_custom_emojis_path do |f|
  = render 'shared/error_messages', object: @custom_emoji

  = hidden_field_tag :page, params[:page] || 1

  - CustomEmojiFilter::KEYS.each do |key|
    = hidden_field_tag key, params[key] if params[key].present?

  .fields-group
    = f.input :shortcode, wrapper: :with_label, label: t('admin.custom_emojis.shortcode'), hint: t('admin.custom_emojis.shortcode_hint')
  .fields-group
    = f.input :image, wrapper: :with_label, input_html: { accept: ['image/png', 'image/jpeg'] }, hint: t('admin.custom_emojis.image_hint')
  .fields-group
    .input.with_label.integer.optional.custom_emoji_category_id
      .label_input
        = f.label :category_id, label: t('admin.custom_emojis.category')
        .fields-row
          .fields-group.fields-row__column.fields-row__column-6
            .input.select.optional
              .label_input
                = f.select :category_id, [[t('admin.custom_emojis.uncategorized'), nil]] + CustomEmojiCategory.all.pluck(:name, :id), class: 'select optional', 'aria-label': t('admin.custom_emojis.assign_category')
          .fields-group.fields-row__column.fields-row__column-6
            .input.string.optional
              .label_input
                = f.text_field :category_name, class: 'string optional', placeholder: t('admin.custom_emojis.create_new_category'), 'aria-label': t('admin.custom_emojis.create_new_category')
  .fields-group
    = f.input :keywords, wrapper: :with_label, label: t('admin.custom_emojis.keywords.title'), hint: t('admin.custom_emojis.keywords.hint'), fedibird_features: true
  .fields-group
    = f.input :description, wrapper: :with_label, label: t('admin.custom_emojis.description.title'), fedibird_features: true
  .fields-group
    = f.input :copy_permission, collection: CustomEmoji.copy_permissions.keys, wrapper: :with_label, label: t('admin.custom_emojis.copy_permission.title'), include_blank: false, label_method: lambda { |copy_permission| safe_join([I18n.t("admin.custom_emojis.copy_permission.#{copy_permission}"), I18n.t("admin.custom_emojis.copy_permission.#{copy_permission}_long")], ' - ') }, required: false, hint: false, fedibird_features: true
  .fields-group
    = f.input :author, wrapper: :with_label, label: t('admin.custom_emojis.author.title'), fedibird_features: true
  .fields-group
    = f.input :license, wrapper: :with_label, label: t('admin.custom_emojis.license.title'), hint: t('admin.custom_emojis.license.hint'), fedibird_features: true
  .fields-group
    = f.input :usage_info, wrapper: :with_label, label: t('admin.custom_emojis.usage_info.title'), hint: t('admin.custom_emojis.usage_info.hint'), fedibird_features: true
  .fields-group
    = f.input :sensitive, as: :boolean, wrapper: :with_label, label: t('admin.custom_emojis.sensitive.title'), hint: t('admin.custom_emojis.sensitive.hint'), fedibird_features: true

  .actions
    = f.button :button, t('admin.custom_emojis.upload_once_more'), name: :upload_once_more, type: :submit
    = f.button :button, t('admin.custom_emojis.upload'), name: :upload, type: :submit
